<style type="text/css">
@import "style";
</style>
<script type="text/javascript" src="tabbedjs"></script>
<div class = "tabArea">
	<a class="tab activeTab" href="home" target="myIframe">Home</a>
	<a class="tab" href="glossary" target="myIframe">Glossary</a>
	<a class="tab" href="contact" target="myIframe">Contact</a>
</div>

<div class="tabMain">
	<div class="wrapper">
		<iframe src="home.html" class="tabContent" name="myIframe" marginheight="8" marginwidth="8" frameborder="0"></iframe>
	</div>
</div>
