<style type="text/css">
@import "style";
</style>
<script type="text/javascript" src="tabbedjs"></script>
<div class = "tabArea">
	<a class="tab activeTab" href="home" target="myIframe">Home</a>
	<a class="tab" href="glossary" target="myIframe">Glossary</a>
	<a class="tab" href="contact" target="myIframe">Contact</a>
</div>

<div class="tabMain">
	<div class="profileinfo">
		<h2>Profile Info for: </h2>
			Picture:<br>
			Name:<br>
			Last location:<br>
	</div>

	<div class="mapcontent">
		This is where the map goes
	</div>
<!--	<div class="wrapper">
		<iframe src="home.html" class="tabContent" name="myIframe" marginheight="8" marginwidth="8" frameborder="0"></iframe>
	</div> -->
</div>
